name: lint
on: push

jobs:
  lint:
    strategy:
      matrix:
        goVer: [1.12 1.13 1.14]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker://golangci/golangci-lint:v1.23.8
        with:
          args: golangci-lint run
        env:
          CGO_ENABLED: 0